<div class="main-container">
    <h1>PRODUCT</h1>
    <hr>
    <h2>MY FIRST TABLE</h2>
    <table id="table">
    <tr>
        <th>Name</th>
        <br>
        <th>Age</th>
        <br>
        <th>Dob</th>
        <br>
        <th>React(Yes/No)</th>
        <br>
        <th>Interests</th>
        <br>
    </tr>
    <td class="yes">raju</td>
    <br>
    <td class="yes">49</td>
    <br>
    <td class="yes">20/05/2022</td>
    <br>
    <td class="yes">Yes</td>
    <br>
    <td class="yes">sports</td>
    <tr>
    </tr>
    <td>ravi</td>
    <br>
    <td>30</td>
    <br>
    <td>5/03/1991</td>
    <br>
    <td>No</td>
    <br>
    <td>books</td>
    <tr>
    </tr>
    <td class="yes">sameer</td>
    <br>
    <td class="yes">15</td>
    <br>
    <td class="yes">13/12/2008</td>
    <br>
    <td class="yes">Yes</td>
    <br>
    <td class="yes">problem solving</td>
    <tr>
    </tr>
    <td>seetha</td>
    <br>
    <td>24</td>
    <br>
    <td>22/07/1998</td>
    <br>
    <td>No</td>
    <br>
    <td>Making videos</td>
    <tr>
    </tr>
    <td class="yes">ram</td>
    <br>
    <td class="yes">25</td>
    <br>
    <td class="yes">3/07/1997</td>
    <br>
    <td class="yes">Yes</td>
    <br>
    <td class="yes">Gaming</td>
    <tr>
    </tr>
    <td class="yes">mahesh</td>
    <br>
    <td class="yes">50</td>
    <br>
    <td class="yes">9/09/1973</td>
    <br>
    <td class="yes">Yes</td>
    <br>
    <td class="yes">Programming</td>
    <tr>
    </tr>
    <td>anushka</td>
    <br>
    <td>18</td>
    <br>
    <td>22/07/2004</td>
    <br>
    <td>No</td>
    <br>
    <td>Vedio games</td>
    <tr>
    </tr>
    <td>sakshi</td>
    <br>
    <td>30</td>
    <br>
    <td>15/11/2007</td>
    <br>
    <td>No</td>
    <br>
    <td>Traveling</td>
    <tr>
    </tr>
    <td class="yes">amir</td>
    <br>
    <td class="yes">60</td>
    <br>
    <td class="yes">29/03/1962</td>
    <br>
    <td class="yes">Yes</td>
    <br>
    <td class="yes">Movies</td>
    <tr>
    </tr>
    <td>aliya</td>
    <br>
    <td>27</td>
    <br>
    <td>17/01/1995</td>
    <br>
    <td>No</td>
    <br>
    <td>Acting</td>
    <tr>
    </tr>
    <td>abhishak</td>
    <br>
    <td>31</td>
    <br>
    <td>19/04/1991</td>
    <br>
    <td>No</td>
    <br>
    <td>Athletics</td>
    <tr>
    </tr>
    <td>maya</td>
    <br>
    <td>20</td>
    <br>
    <td>21/01/2001</td>
    <br>
    <td>No</td>
    <br>
    <td>swimmimg</td>
    <tr>
    </tr>
    <td class="yes">kiran</td>
    <br>
    <td class="yes">5</td>
    <br>
    <td class="yes">31/11/2017</td>
    <br>
    <td class="yes">Yes</td>
    <br>
    <td class="yes">Boxer</td>
    <tr>
    </tr>
    </table>
    </div>